input {
  font-size: 12px;
  height: 35px;
  width: 100%;
}
p.description {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 13px;
}

p tip {
  color: #FF7D1D;
}

.importment {
  font-size: 15;
  color: #7FD4FD;
}

.btn-submit {
  color: #FFF;
  padding: 8px 12px;
  background-image:url('../img/btn-submit.jpg');
  background-repeat:repeat-x;
  font-weight: bold;
}
