.container {
  width: 810px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  width: 810px;
}

.col-1 {
  float: left;
  width: 90px;
}
.col-2 {
  float: left;
  width: 180px;
}
.col-3 {
  float: left;
  width: 270px;
}
.col-4 {
  float: left;
  width: 360px;
}
.col-5 {
  float: left;
  width: 450px;
}
.col-6 {
  width: 540px;
}
.col-7 {
  float: left;
  width: 630px;
}

.col-8 {
  float: left;
  width: 720px;
}
.col-9 {
  float: left;
  width: 810px;
}

input {
  height: 30px;
  border: 1px solid #A0A1A5;
  width: 220px;
  padding-left: 10px;
  padding-right: 10px;
  line-height:32px;
}

p.description {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 13px;
}

span.tip {
  color: #FF7D1D;
}

.importment {
  font-size: 15;
  color: #7FD4FD;
}

.btn-submit {
  font-size: 14px;
  border: 0px;
  width: 241px;
  color: #FFF;
  padding-top: 9px;
  padding-bottom: 9px;
  background-image:url('../img/btn-submit.jpg');
  background-repeat:repeat;
  font-weight: bold;
}

h4 {
  font-size:15px;
}

.des-inp {
  cursor: pointer;
  color: #A0A1A5;
  text-decoration: underline;
  font-size: 13px;
  margin-left: 190px;
}
