.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  width: 900px;
}

.col-1 {
  float: left;
  width: 100px;
}
.col-2 {
  float: left;
  width: 200px;
}
.col-3 {
  float: left;
  width: 300px;
}
.col-4 {
  float: left;
  width: 400px;
}
.col-5 {
  float: left;
  width: 500px;
}
.col-6 {
  width: 600px;
}
.col-7 {
  float: left;
  width: 700px;
}

.col-8 {
  float: left;
  width: 800px;
}
.col-9 {
  float: left;
  width: 900px;
}

input {
  height: 30px;
  border: 1px solid #A0A1A5;
  width: 220px;
  padding-left: 10px;
  padding-right: 10px;
  line-height:32px;
}

p.description {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 13px;
}

span.tip {
  color: #FF7D1D;
}

.importment {
  font-size: 15;
  color: #7FD4FD;
}

.btn-submit {
  font-size: 14px;
  border: 0px;
  width: 241px;
  color: #FFF;
  padding-top: 9px;
  padding-bottom: 9px;
  background-image:url('../img/btn-submit.jpg');
  background-repeat:repeat;
  font-weight: bold;
}

h4 {
  font-size:15px;
}
